<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  	<configSections>
				<section name="dependencyInjectionInformation" type="SD.LLBLGen.Pro.ORMSupportClasses.DependencyInjectionSectionHandler, SD.LLBLGen.Pro.ORMSupportClasses.NET20, Version=2.6.0.0, Culture=neutral, PublicKeyToken=ca73b74ba4e3ff27"/>
	</configSections>
  
    <appSettings>  <add key="SqlServerDQECompatibilityLevel" value="2"/> </appSettings>

  <connectionStrings>
			<add name="Local.SQL Server (SqlClient)" connectionString="data source=.;initial catalog=AdventureWorks;integrated security=SSPI;persist security info=False;packet size=4096"/>
  </connectionStrings>
	
	<system.diagnostics>
	<switches>
		<add name="SqlServerDQE" value="4" />
		<add name="ORMGeneral" value="1" />
		<add name="ORMStateManagement" value="1" />
		<add name="ORMPersistenceExecution" value="1" />
		<add name="LinqExpressionHandler" value="1" />
	</switches>
  </system.diagnostics>
	
	<!--<dependencyInjectionInformation>
		<additionalAssemblies>
			<assembly filename="NetIndustry.Library.LLBLGen.dll"/>
		</additionalAssemblies>
	</dependencyInjectionInformation>-->
</configuration>
